@model IEnumerable<JobApplication>
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<head>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

    <script>
        ScrollReveal.debug = true;
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<h2>Sollicitaties</h2>

<br />
<p>
    <a class="FontAwesomeButton" href="@Url.Action("Create", "Vacatures", null)"><i class="fas fa-briefcase fa-2x"></i> Nieuwe Vacature</a>
</p>
@Html.Raw(TempData["msg"])
<form asp-controller="Studenten" asp-action="Index" class="form-inline">
    <p>
        <input class="form-control" type="text" placeholder="Achternaam" name="SearchString"> <input class="btn btn-default" type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <tr>
        <th>
            Voornaam
        </th>
        <th>
            Achternaam
        </th>
        <th>
            Telefoonnummer
        </th>
        <th>
            Mailadres
        </th>
        <th>
            Bijgevoegd bestand
        </th>
        <th>
            Sollicitatiedatum
        </th>
        <th>
            Gekoppelde vacature
        </th>
        <th></th>
    </tr>

    @if (Model == null)
    {
        <text>Geen sollicitaties geselecteerd</text>
    }
    else
    {

        foreach (var s in Model.Where(d => d.ApplyAnswered == 0))
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => s.CandidateName)
                </td>
                <td>
                    @Html.DisplayFor(m => s.CandidateLastName)
                </td>
                <td>
                    @Html.DisplayFor(m => s.CandidatePhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(m => s.CandidateMailadress)
                </td>
                <td>
                    @Html.DisplayFor(m => s.Enclosureurl)
                </td>
                <td>
                    @Html.DisplayFor(m => s.ApplicationDate)
                </td>
                <td>
                    @Html.DisplayFor(m => s.Vacature_id)
                </td>

                <td>
                  <a href="@Url.Action("SendInvitation", "Sollicitaties", new { id = s.ID, type = 1 }, null)"><i class="far fa-smile fa-2x"></i></a>
                </td>
                <td>
                  <a href="@Url.Action("SendInvitation", "Sollicitaties", new { id = s.ID, type = 2 }, null)"><i class="far fa-frown fa-2x"></i></a>
                </td>

            </tr>
        }
    }
</table>
<br />
<br />
<h2> Al geaccepteerde sollicitaties</h2>
<table class="table">
    <tr>
        <th>
            Voornaam
        </th>
        <th>
            Achternaam
        </th>
        <th>
            Telefoonnummer
        </th>
        <th>
            Mailadres
        </th>
        <th>
            Bijgevoegd bestand
        </th>
        <th>
            Sollicitatiedatum
        </th>
        <th>
            Gekoppelde vacature
        </th>
        <th></th>
    </tr>

    @if (Model == null)
    {
        <text>Geen sollicitaties geselecteerd</text>
    }
    else
    {

        foreach (var s in Model.Where(d => d.ApplyAnswered == 1))
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => s.CandidateName)
                </td>
                <td>
                    @Html.DisplayFor(m => s.CandidateLastName)
                </td>
                <td>
                    @Html.DisplayFor(m => s.CandidatePhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(m => s.CandidateMailadress)
                </td>
                <td>
                    @Html.DisplayFor(m => s.Enclosureurl)
                </td>
                <td>
                    @Html.DisplayFor(m => s.ApplicationDate)
                </td>
                <td>
                    @Html.DisplayFor(m => s.Vacature_id)
                </td>
                <td>
                    <a href="@Url.Action("SendInvitation", "Sollicitaties", new { id = s.ID, type = 2 }, null)"><i class="far fa-frown fa-2x"></i></a>
                </td>

            </tr>
        }
    }
</table>

<style>
    body {
        background-image: url(../../Content/Images/image.png);
        color: white;
    }

    .table {
        background-image: linear-gradient(to bottom right, #f58220, #ed1165);
        opacity: 0.7;
        border-radius: 8px;
        padding-top: 50px;
        padding: 10px;
        border-color: white;
        max-width: 100%;
    }

    #knopje {
        margin-top: 20px;
        float: left;
    }
</style>
<script>
    ScrollReveal().reveal('.table', { delay: 70, distance: '20px', cleanup: true });
    ScrollReveal().reveal('.knopje', { delay: 70, distance: '20px', cleanup: true });
</script>