@model Vacature
@{
    ViewBag.Title = "Create";
}
<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

<script>
    ScrollReveal.debug = true;
</script>
<h2>Create</h2>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="infaden">
        <div class="form-horizontal">
            <h4>Nieuwe vacature</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.StageTitle, "Stage Naam", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StageTitle, new { htmlAttributes = new { @class = "form-control", } })
                    @Html.ValidationMessageFor(model => model.StageTitle, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.AmountofHours, "Aantal Uren", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AmountofHours, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AmountofHours, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AmountofStudents, "Aantal Studenten", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AmountofStudents, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AmountofStudents, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StageDescription, "Beschrijving", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StageDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StageDescription, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.url, "url", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.url, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.url, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}




<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<style>
    body {
        background-image: url(../../Content/Images/image.png);
        color: white;
    }


    .form-horizontal {
        margin-top: 70px;
        max-height: 100%;
        background-image: linear-gradient(to top left, #00aeef, #00ad8e);
        padding-left: 35px;
        padding-top: 35px;
        padding-bottom: 35px;
        border-radius: 8px;
        opacity: 0.7;
        margin-right: 100px;
    }

    .knopje {
        margin-top: 500px;
        position: center;
    }
</style>
<script>
    ScrollReveal().reveal('.form-horizontal', { delay: 70, distance: '20px', cleanup: true });
    ScrollReveal().reveal('.knopje ', { delay: 70, distance: '20px', cleanup: true });
    ScrollReveal().reveal('.linkje ', { delay: 70, distance: '20px', cleanup: true });
</script>