@model global::Stage.AlienTrick.Models.Stagemodel
@{
    ViewBag.Title = "Nieuwe stage";
}

<h2>Create</h2>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


@using (Html.BeginForm("CreateStage", "Stages", FormMethod.Post, null))
{
    @Html.HiddenFor(m => m.StudentID)
    @Html.HiddenFor(m => m.StudentID)
    @Html.HiddenFor(m => m.VacatureID)
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.StageName, "Stage Naam", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StageName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StageName, "", new { @class = "text-danger" })
        </div>
    </div>
    <br>
    <div class="form-group">
        @Html.LabelFor(model => model.Beginperiod, "Beginperiode", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Beginperiod, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.Beginperiod, "", new { @class = "text-danger" })
        </div>
    </div>
    <br>
    <div class="form-group">
        @Html.LabelFor(model => model.Endperiod, "Eindperiode", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Endperiod, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.Endperiod, "", new { @class = "text-danger" })
        </div>
    </div>
    <br>
    <div class="form-group">
        @Html.LabelFor(model => model.NeededEducation, "Opleidingsniveau", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NeededEducation, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NeededEducation, "", new { @class = "text-danger" })
        </div>
    </div>
    <br>
    <div class="form-group">
        @Html.LabelFor(model => model.StageDescription, "Stage Beschrijving", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StageDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StageDescription, "", new { @class = "text-danger" })
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}



<div>
    @Html.ActionLink("Back to List", "Index")
</div>