@model IEnumerable<Stage>

@{
    ViewBag.Title = "Stageoverzichten";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<head>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

    <script>
        ScrollReveal.debug = true;
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<h2>Index</h2>

<p>
    <a class="FontAwesomeButton" href="@Url.Action("Vacatureindex", "Stages", null)"><i class="fas fa-plane-departure fa-2x"></i> Nieuwe stage</a>
</p>
<form asp-controller="Stage" asp-action="Index" class="form-inline">
    <p>
        <input class="form-control" type="text" placeholder="Stage Naam" name="SearchString"> <input class="btn btn-default" type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <tr>
        <th>
            Stage Naam
        </th>
        <th>
            Beginperiode
        </th>
        <th>
            Eindperiode
        </th>
        <th>
            Stagebescrhijving
        </th>
        <th>
            Benodigde Opleiding
        </th>
    </tr>


    @foreach (var stage in Model)
    {
        if (stage.Beginperiod <= DateTime.Now)
        {
            if (stage.Endperiod > DateTime.Now)
            {


                <tr>
                    <td>
                        @Html.DisplayFor(m => stage.StageName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => stage.Beginperiod)
                    </td>
                    <td>
                        @Html.DisplayFor(m => stage.Endperiod)
                    </td>
                    <td>
                        @Html.DisplayFor(m => stage.StageDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(m => stage.NeededEducation)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = stage.ID })
                    </td>
                </tr>
            }
        }


    }

</table>
<style>
    body {
        background-image: url(../../Content/Images/image.png);
        color: white;
    }

    .table {
        background-image: linear-gradient(to bottom right, #f58220, #ed1165);
        opacity: 0.7;
        border-radius: 8px;
        padding-top: 50px;
        padding: 10px;
        border-color: white;
        max-width: 100%;
    }

    #knopje {
        margin-top: 20px;
        float: left;
    }
</style>
<script>
    ScrollReveal().reveal('.table', { delay: 70, distance: '20px', cleanup: true });
    ScrollReveal().reveal('.knopje', { delay: 70, distance: '20px', cleanup: true });
</script>