@model global::Stage.AlienTrick.Models.Voortgangsmodel
@{
    ViewBag.Title = "AcceptHours";
}

<h2>Uren Accepteren</h2>

<h3>Deze student heeft @Model.AmountofbookedHours uren geboekt.</h3>

<h4>Wilt u deze accepteren? druk dan op de knop: Uren Goedkeuren.</h4>

@using (Html.BeginForm("AcceptHours", "Studenten", FormMethod.Post))
{
    @Html.HiddenFor(s => s.student);
    @Html.HiddenFor(s => s.AmountofbookedHours);
    @Html.HiddenFor(s => s.HoursAccepted);
    @Html.HiddenFor(id => id.student.ID);
    
    <button name="AcceptHours" type="submit" value="AcceptHours" class="btn btn-default" id="@Model.student.ID">Uren Goedkeuren</button>
}