@model global::Stage.AlienTrick.Models.Takenmodel
@{
    ViewBag.Title = "PlanMeeting";
}

<h2>Selecteer hier de student waar een taak of afspraak aan gekoppeld moet worden</h2>

<br />

<form asp-controller="Studenten" asp-action="Index" class="form-inline">

    <p>
        <input class="form-control" type="text" placeholder="Achternaam" name="SearchString2"> <input class="btn btn-default" type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <tr>
        <th>
            Voornaam
        </th>
        <th>
            Achternaam
        </th>
        <th>
            Leeftijd
        </th>
        <th>
            School
        </th>
        <th>
            Nationaliteit
        </th>
        <th>
            Studentnummer
        </th>
        <th>
            Stagevergoeding
        </th>
        <th>
            Opmerkingen
        </th>
        <th>
            Status
        </th>
        <th>
            Voortgang
        </th>
        <th></th>
    </tr>


    @foreach (var student in Model.Students)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => student.Firstname)
            </td>
            <td>
                @Html.DisplayFor(m => student.Lastname)
            </td>
            <td>
                @Html.DisplayFor(m => student.Age)
            </td>
            <td>
                @Html.DisplayFor(m => student.City)
            </td>
            <td>
                @Html.DisplayFor(m => student.School)
            </td>
            <td>
                @Html.DisplayFor(m => student.Nationality)
            </td>
            <td>
                @Html.DisplayFor(m => student.Studentnumber)
            </td>
            <td>
                @Html.DisplayFor(m => student.Compensation)
            </td>
            <td>
                @Html.DisplayFor(m => student.Description)
            </td>
            <td>
                @Html.DisplayFor(m => student.StudentStatus)
            </td>
            <td>
                @Html.DisplayFor(m => student.Progress)
            </td>
            <td>
                @Html.ActionLink("Kies deze student", "CreateMeeting", "Studenten", new { id = student.ID }, null)
            </td>
        </tr>
    }

</table>