@model global::Stage.AlienTrick.Models.Takenmodel
@{
    ViewBag.Title = "Plan meeting of taak";
}
<head>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

    <script>
        ScrollReveal.debug = true;
    </script>
</head>
<h2 class="h2">Afspraak maken</h2>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")



@using (Html.BeginForm("CreateMeeting", "Studenten", FormMethod.Post, null))
{
    var Stagebegeleider = new SelectListItem[]
{
new SelectListItem { Value = "Ivo Keizers", Text = "ivo Keizers" },
new SelectListItem { Value = "Peter", Text = "Peter van den Dungen" },
};

    @Html.HiddenFor(m => m.student.ID)
    @Html.AntiForgeryToken()
    <div class="invoer">
    <div class="form-group">
        @Html.LabelFor(model => model.TaskName, "Afspraak onderwerp", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TaskName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TaskName, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.TaskDescription, "Afspraak beschrijving", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TaskDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TaskDescription, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.BeginDate, "Wanneer is de afspraak?", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BeginDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.BeginDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.Time, "Hoelaat is de afspraak?", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control", @type = "time" } })
            @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.Stagebegeleider, "Stagebegeleider", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Stagebegeleider, Stagebegeleider, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Stagebegeleider, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
     </div>
}



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<style>
    .h2{
        margin-top: 200px;
        color:white;
    }
    body{
        background-image: url(../../Content/Images/image.png);
        background-position:initial;
    }
    .invoer {
        background-image: linear-gradient(to top left, #00aeef, #00ad8e);
        border-radius: 8px;
        padding: 100px;
        opacity: 0.6;
    }
</style>
<script>
    ScrollReveal().reveal('.h2 ', { delay: 70, distance: '20px', cleanup: true });
    ScrollReveal().reveal('.invoer ', { delay: 70, distance: '20px', cleanup: true });
</script>