<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Stageportaal AlienTrick</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="navbarid">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                    <div id="logo">
                        <a href="@Url.Action("index", "Home")">
                            <img style="height: 40px; width:100px;"src="~/Content/Images/AlienTrick_Logo_2016_WHITE.png" alt="" />
                        </a>
                    </div>
                        </li>
                    @* <li> <img  style="height: 50px; width: 100px;"src="~/Content/Images/AlienTrick_Logo_2016_WHITE.png" />@Html.ActionLink("Stageportaal AlienTrick", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li> *@
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Studenten", "Index", "Studenten")</li>
                    <li>@Html.ActionLink("Stages", "Index", "Stages")</li>
                    <li>@Html.ActionLink("Vacatures", "Index", "Vacatures")</li>
                    <li>@Html.ActionLink("Sollicitaties", "Index", "Sollicitaties")</li>

                </ul>
                <p class="nav navbar-text navbar-right">Hier hallo, @User.Identity.Name!</p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>

    </script>
</body>
</html>
