@model List<global::Stage.AlienTrick.Vacature>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<div class="center">
    <h1>Welkom bij AlienTrick</h1>
    <h2>Dit is ons stageportaal, zijn we op zoek naar jou?</h2>
</div>



<input type="button" href="#columns" id="button" class="button" value="Op naar de vacatures!">

<script>
    jQuery("#button").click(function () {
        jQuery('html, body').animate({
            scrollTop: $("#columns").offset().top
        }, 2000);
    });
</script>

<div class="columns" id="columns">
    <center>
        <h1 style="color: ghostwhite">Alle vacatures</h1>
    </center>
    @foreach (var item in Model)
    {
        <div class="columtest">
            <div>
                <div class="col-sm-4 col-centered">
                    <div class="colom-1">
                        <div class="img-vacature">
                            <span class="et_pb_image_wrap">
                                <img src="@item.url" style="height: 240px; width: 240px;">

                            </span>
                        </div>

                        <div class="type-titel">
                            <div class="et_pb_text_inner">
                                <h4 style="color:ghostwhite">@item.StageTitle</h4>
                            </div>
                        </div>

                        <div class="omschrijving-stage">
                            <div class="type-stage-omschrijving">
                                <p style="text-align: center; color: ghostwhite">
                                    @item.StageDescription
                                </p>
                            </div>
                        </div>

                        
                            <div class="aantal-uren">
                                <p style="text-align: center; color: ghostwhite">
                                    @item.AmountofHours Uur
                                </p>
                            </div>
                            <div class="solliciteer">
                                @Html.ActionLink("Solliciteer!", "Applyforjob", "Vacatures", new { vcid item.ID }))
                            </div>

                    </div>
                </div>



            </div>

        </div>

    }

</div>




<style>

    .columns {
        margin-top: 3000px;
    }

    .center {
        margin: 0 auto;
        top: 45%;
        left: 32%;
        border: 3px solid orange;
        text-align: center;
        padding: 20px;
        position: absolute;
        color: ghostwhite;
        border-radius: 25px;
    }

    .button {
        background-color: mediumpurple;
        top: 65%;
        left: 43%;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        position: absolute;
    }

    body {
        background-image: url(../../Content/Images/image.png)
    }
</style>